*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: greenyellow;
}
header{
    display: inline;;
}
/* Display: inline-flex */
header, .menu-list{
    display: inline-flex;
}
header img{
    width: 5em;
}
/* menu */
/* menu-list */
.menu-list{
    list-style: none;
}
header,main,footer{
    min-width: 100%;
}
header,footer{
    background-color: grey;
}

.menu{
    margin-left: auto; /* To place nav to the right */
    align-self: center;
}
table{
    border: 3px solid black;
    background-color: antiquewhite;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;

}
footer p{
    font-weight: bold;
}
#box1{
    background-color: green;
    color: white;
    margin: auto;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 20px 10px;
    border: 10px solid black;
}
.unorder li:first-child{
    color: red;
}
.unorder li:last-child{
    color:orangered;
}